################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rabin_Karp/Debug
/Rabin_Karp/.vs/Rabin_Karp/v15
/Rabin_Karp/Rabin_Karp.sln
/Rabin_Karp/targetver.h
/Rabin_Karp/stdafx.h
/Rabin_Karp/stdafx.cpp
/Rabin_Karp/Rabin_Karp.vcxproj.filters
/Rabin_Karp/Rabin_Karp.vcxproj
